* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Kumbh Sans", sans-serif;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: hsl(0, 0%, 100%);
}

::-webkit-scrollbar-thumb {
  background: hsl(26, 100%, 55%);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(26, 89%, 57%);
}
